*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.section {
  padding: 100px 0;
}
.btn-red {
  padding: 12px 30px;
  background-color: #ff0000;
  display: inline-block;
  border-radius: 4px;
  color: white;
}
.btn-orange {
  padding: 12px 30px;
  background-color: #ffa500;
  display: inline-block;
  border-radius: 4px;
  color: white;
}
.btn-orange:hover {
  background-color: #ff0000;
  color: white;
}
.btn-red:hover {
  background-color: #ff4d00;
  color: white;
}

.title__livSaverz,
.title__livSaverzWhite {
  margin: 24px 0 48px 0;
  text-align: center;
}

.title__livSaverz h6,
.title__livSaverzWhite h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ff0000;
}
.title__livSaverz h3,
.title__livSaverzWhite h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #1c1717;
}
.title__livSaverzWhite h3 {
  color: white;
}
.title__livSaverz p,
.title__livSaverzWhite p {
  font-size: 15px;
  color: #7c6a6a;
  font-weight: 400;
  line-height: 26px;
}
.title__livSaverzWhite p {
  color: white;
}
.container,
.container-xl,
.container-xxl {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}
.container-fluid {
  width: 95%;
  margin: 0 auto;
}
:root {
  color: black;
}

.active {
  color: #ff0000 !important;
}
.logo__name {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.header__logo {
  cursor: pointer;
}
.header__logo:hover {
  opacity: 0.95;
}
.header__logo-icon {
  font-size: 28px;
  color: white;
}

.header__logo-color-red {
  color: red;
}
.header__navbar-item {
  list-style: none;
  padding: 0 12px;
}

.header__container,
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__container {
  padding: 1.5rem 0;
  transition: all 0.4s ease;
}

.header__navbar-button {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.4s ease;
}
.header__navbar-button:hover {
  color: #ff0000;
}

.header-lastChild {
  margin-left: 20px;
  transition: all 0.4s ease;
}
.header-lastChild:hover {
  color: white;
}

/* LOGIN SIGN UP */
.header__navbar .header-loggin {
  padding-left: 12px;
}
.header-loggin,
.header-signup {
  padding: 0;
}
/* CAROUSEL */
.carousel__item {
  position: absolute;
  z-index: 5;
  left: 40%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.carousel__item-slick {
  position: relative;
}
.carousel__item-img1 {
  background: url(./img/banner1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
}
.carousel__item-img2 {
  background: url(./img/banner2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
}
.carousel__item-img3 {
  background: url(./img/banner3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
}
.carousel__item-img4 {
  background: url(./img/banner4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(21, 17, 17, 0.81);
  z-index: -1;
}
.carousel__item-title {
  font-size: 94px;
  font-weight: 700;
  color: white;
  max-width: 750px;
  line-height: 86px;
}
.carousel__item-button {
  margin: 40px 0;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
}
.carousel__item-buttonPlay {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 30px;
  color: white;
  transition: all 0.3s ease;
}
.carousel__item-buttonPlay:hover {
  transform: scale(1.1);
  border: 2px solid rgba(255, 0, 0, 0.4588235294117647);
  background: #ff0000;
}
.carousel__item-info {
  color: white;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}

/* CAROUSEL BANNER */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  height: 300px;
}
.grid__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.grid__item--brown {
  background: #443737;
  padding: 40px;
}
.grid__item--black {
  background: #272121;
  padding: 40px;
}
.grid__item--title {
  line-height: 45px;
  font-size: 24px;
}
.grid__img {
  background: url(./img/banner4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* CHOOSE US */
.chooseUs__content {
  padding: 48px 0;
}
.chooseUs__container {
  padding: 24px 30px;
}
.grid__chooseUs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 24px;
  height: 350px;
  max-height: 350px;
}
.chooseUs__img1,
.chooseUs__img2,
.chooseUs__img3,
.chooseUs__img4 {
  background-image: url(./img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  margin: 20px auto;
  padding: 20px;
}
.chooseUs__img2 {
  background-image: url(./img/img2.jpg);
}
.chooseUs__img3 {
  background-image: url(./img/img3.jpg);
}
.chooseUs__img4 {
  background-image: url(./img/img4.jpg);
}
.chooseUs__img1:hover .chooseUs__img-title,
.chooseUs__img2:hover .chooseUs__img-title,
.chooseUs__img3:hover .chooseUs__img-title,
.chooseUs__img4:hover .chooseUs__img-title {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
.chooseUs__img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #272121;
  color: white;
  font-weight: 700;
  text-align: center;
  visibility: hidden;
  transform: scale(1.5);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.chooseUs__background-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f9f9f900 url(../images/bg.jpg);
  box-shadow: 0 0 0 20px rgb(255 255 255 / 20%),
    inset 0 0 3px rgb(115 114 23 / 80%);
}

.grid__chooseUs_title {
  text-align: center;
  max-width: 300px;
  margin: auto;
}
.grid__item-title {
  text-decoration: none;
  color: #272121;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 25px;
  transition: all 0.3s ease;
}
.grid__item-title:hover {
  color: #ff0000;
}
.grid__info {
  color: #777;
  margin: 0;
}

.slick-next {
  position: absolute;
  right: 1%;
  bottom: 50%;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: all.4s ease;
}
.slick-prev {
  position: absolute;
  left: 1%;
  bottom: 50%;
  z-index: 10;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: all.4s ease;
}
.slick-next:hover,
.slick-prev:hover {
  color: #ff0000;
}
.slick-dots {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.slick-dots li {
  display: inline-block;
  margin-left: 15px;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.slick-dots li.slick-active {
  background: #ff0000;
}
.slick-dots li:hover {
  background: #ff0000;
}
.slick-dots li button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: none;
  color: transparent;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* OUR ORGANIZATION */
.ourOrgan__content {
  background: url(./img/banner4.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 90px;
  position: relative;
  z-index: -2;
}
.ourOrgan__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(21, 17, 17, 0.81);
}
.title__ourOrgan {
  width: 50%;
  margin: auto;
  opacity: 0.8;
}
.grid__item--ourOrgan {
  text-align: center;
}
.grid__ourOrganSystem {
  color: white;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px;
  justify-content: center;
}
.grid__number {
  display: block;
  font-size: 50px;
  font-weight: 700;
  color: #ff4d00;
}
.grid__ourOrgan--text {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 8px 0;
  display: inline-block;
}
