<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login LivSaverz</title>
    <!-- FONT GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,700&display=swap"
        rel="stylesheet">
    <!-- FONT AWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../style.css">
    <!-- LOGGIN CSS -->
    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header__content">
            <div class="container header__container">
                <div class="header__logo">
                    <h1>
                        <span class="fa-solid fa-heart header__logo-icon"></span>
                        <a href="" class="logo__name"><span class="header__logo-color-red">Liv</span>Saverz</a>
                    </h1>
                </div>
                <nav class="navbar">
                    <ul class="header__navbar">
                        <li class="header__navbar-item"><a class="header__navbar-button active" href="#">HOME</a></li>
                        <li class="header__navbar-item"><a class="header__navbar-button" href="#">ABOUT</a></li>
                        <li class="header__navbar-item"><a class="header__navbar-button" href="#">CAUSES</a></li>
                        <li class="header__navbar-item"><a class="header__navbar-button" href="#">CONTACT</a></li>
                        <li class="header__navbar-item"><a href="#"
                                class="header__navbar-button header-lastChild btn-red">DONATE</a></li>
                        <li class="header__navbar-item header-loggin"><a href="#"
                                class="header__navbar-button ">LOGGIN</a></li>
                        <li class="header__navbar-item"><a href="#" class="header__navbar-button">/</a></li>
                        <li class="header__navbar-item  header-signup"><a href="#" class="header__navbar-button">SIGN
                                UP</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- CAROUSEL -->
    <section class="carousel__login">
        <div class="carousel__login-img"></div>
        <div class="carousel__login-overlay"></div>
    </section>
</body>

</html>